%h2 Businesses
%br
%br

= form_for @business do |f|
  .row
    .col-md-8
      .row
        .col-md-6
          %fieldset.form-group
            = f.text_field :name, class: "form-control", placeholder: "Business Name"
          %fieldset.form-group
            = f.text_field :website, class: "form-control", placeholder: "Business website"
          %fieldset.form-group.action
            = f.submit "Submit business", class: "btn btn-default btn-block"
        .col-md-6
          %fieldset.form-group
            = f.text_area :description, class: "form-control", placeholder: "Description", rows: "5"
    .col-md-4

    .col-md-8
    .col-md-4

%br
%br

- @businesses.each do |business|
  %br
  .row
    .col-md-8
      .row
        .col-md-6
          %p.text-left 
            - 5.times do |i|
              %span{class: "glyphicon glyphicon-star#{"-empty" if review_average(business) < i+1}", 'aria-hidden' => 'true' }
          %p.text-left= link_to business.name, business_path(business)
          - business.categories.each do |category|
            %p.text-left
              %span.btn.btn-default.btn-xs{type: "button"}
                = link_to category.name, category_path(category)
      %p.text-justify= business.description
    .col-md-4
  %br
  %br