%h2 Register

= form_for @user do |f|
  %br
  %fieldset.form-group
    %label Name
    .row
      .col-sm-4
        = f.text_field :full_name, class: "form-control"
  %fieldset.form-group
    %label Email
    .row
      .col-sm-4
        = f.text_field :email, class: "form-control"
  %fieldset.form-group
    %label Password
    .row
      .col-sm-4
        = f.password_field :password, class: "form-control"   
  %fieldset.form-group.action
    = f.submit "Register", class: "btn btn-default"
